{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Login Form</title>
    <link rel="stylesheet" href="{% static 'log.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    {% if messages %}
        {% for message in messages %}
            <script>
                alert("{{ message }}");
            </script>
        {% endfor %}
    {% endif %}

    <div class="container"> 
        <h1>Login Form</h1>
        <p id="msg">Please fill out with your credentials!</p>
        <form action="{% url 'login_user' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="firstname">
                    <span>Firstname</span>
                    <input type="text" id="firstname" name="firstname" required placeholder="Enter your firstname">
                </label>
            </div>
            <div class="form-group password-container">
                <label for="password">
                    <span>Password</span>
                    <input type="password" id="password" name="password" required placeholder="Enter your password">
                    <button type="button" id="pwd-visibility">
                        <i id="visibilityIcon" class="far fa-eye"></i>
                    </button>
                </label>
            </div>
            <button type="submit" id="submitBtn">Login</button>
        </form>
        <div class="my_container">
            <div class="password-box">
                <p id="password-msg">Forgot your password? Click here please!</p>
                <a href="/pwd">Reset Password</a>
            </div>
            <div class="register-box">
                <p id="register-msg">Don't have an account? Click here please!</p>
                <a href="/register">Register</a>
            </div>
        </div>
    </div>
    <footer>
        <a href="https://github.com/Ilefrajhi"><i class="fa fa-github"></i></a>
        <a href="https://www.linkedin.com/in/ilef-rajhi-836669262/"><i class="fa fa-linkedin"></i></a>
    </footer>

    <!-- JavaScript for password visibility toggle using jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $("#pwd-visibility").click(function() {
                const passwordInput = $("#password");
                const icon = $("#visibilityIcon");

                if (passwordInput.attr("type") === "password") {
                    passwordInput.attr("type", "text");
                    icon.removeClass("far fa-eye").addClass("far fa-eye-slash");
                } else {
                    passwordInput.attr("type", "password");
                    icon.removeClass("far fa-eye-slash").addClass("far fa-eye");
                }
            });
        });
    </script>
</body>
</html>
