{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
    <link href='https://cdn.jsdelivr.net/npm/fullcalendar@6.0.0/lib/main.css' rel='stylesheet' />
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.0.0/lib/main.js'></script>
    <link rel="stylesheet" href="{% static 'main_styles.css' %}">
</head>
<header>
    <div class="logout-container">
        <a href="/logout" id="logout">Log Out</a>
       
        </div>
</header>
<body>
    <div class="container">
        <br>
        <br>
        <h1>Ma To-Do List</h1>
        <div class="content">
            <div class="form-group">
                <form action="{% url 'add_task' %}" method="POST">
                    {% csrf_token %}
                    <input type="text" id="task" name="title" placeholder="Add a task..." required><br>
                    <div class="group">
                        <label for="category">Select Category:</label>
                        <select id="category" name="category" required>
                            <option value="work">Work</option>
                            <option value="personal">Personal</option>
                            <option value="shopping">Shopping</option>
                            <option value="family">Family</option>
                            <option value="hobbies">Hobbies</option>
                            <option value="education">Education</option>
                            <option value="entertainment">Entertainment</option>
                        </select>
                        <label for="date">Date:</label>
                        <input type="date" id="date-time" name="date" required>
                        <label for="time">Time:</label>
                        <input type="time" id="date-time" name="time" required><br>
                        <button type="submit" id="submit-btn">Add</button>
                    </div>
                </form>
            </div>
            <div class="task-list">
                <ul id="task-list">
                    {% for task in tasks %}
                        <li>
                            {{ task.title }} - {{ task.category }} - {{ task.date }} {{ task.time }}
                            {% if not task.completed %}
                                <form action="{% url 'complete_task' task.id %}" method="POST" style="display:inline;">
                                    {% csrf_token %}
                                    <button type="submit">Mark as completed</button>
                                </form>
                            {% endif %}
                            <form action="{% url 'delete_task' task.id %}" method="POST" style="display:inline;">
                                {% csrf_token %}
                                <button type="submit">Delete</button>
                            </form>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>        
    <div class="search_tasks">
        <h2>Search Tasks</h2>
        <form action="{% url 'search_tasks' %}" method="GET" class="search">
            <input type="text" name="q" id="q" placeholder="Search...">
            <button type="submit" id="search-btn">Search</button>
    </div>
    <div class="task-status">
        <div class="incomplete_tasks">
            <h2>Incomplete Tasks</h2>
            <ul>
                {% for task in incomplete_tasks %}
                    <li>{{ task.title }} - {{ task.category }} - {{ task.date }} {{ task.time }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="completed_tasks">
            <h2>Completed Tasks</h2>
            <ul>
                {% for task in completed_tasks %}
                    <li>{{ task.title }} - {{ task.category }} - {{ task.date }} {{ task.time }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>    
</div>

    <div id='calendar'></div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                events: [
                    {
                        title: 'Event 1',
                        start: '2024-07-20'
                    },
                    {
                        title: 'Event 2',
                        start: '2024-07-21',
                        end: '2024-07-23'
                    }
                ]
            });

            calendar.render();
        });
    </script>
</body>
<footer>
    <a href="https://github.com/Ilefrajhi"><i class="fa fa-github"></i></a>
    <a href="https://www.linkedin.com/in/ilef-rajhi-836669262/"><i class="fa fa-linkedin"></i></a>
</footer>
</html>
