<!DOCTYPE html>
<head><title>reset your password</title></head>
<body>
<div class = "container">
    <p id="msg">Please enter your email to reset your password.</p>
    <input type="email" id="email" name="email" placeholder="email@example.com">
    <button type="submit" id="submitBtn">Submit</button></div>

    <script>
        function validateEmail() {
            var email = document.getElementById("email").value;
            var regex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            if (regex.test(email)) {
                alert = "An email is sent to " + email;
            } else {
                alert = "Invalid email format";
            }
        }
        document.getElementById("submitBtn").addEventListener("click", validateEmail);
    </script>
</body>
</html>